body{
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li{
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

main{
    background-color: red;
}